<!DOCTYPE html>
<html lang="en">
<head>
	<title>IMAGE TRANSPHORMER</title>
</head>
<body data-ng-app="transphormApp">
	<main data-ng-controller="imagesController" data-ng-init="getAll()">
		<h1>Upload new image</h1>
    <form>
      <label for="newImage"></label>
      Name yr image: <input type="text" id="newImageName" data-ng-model="newImage.imageName"> <br>
      Image summary: <input type="text" id="newImageSays" data-ng-model="newImage.imageDesc"> <br>
      Save image: <input type="submit" data-ng-click="create(newImage)"></input>
    </form>
    <a href="http://localhost:3000/#/image_menu">See all images</a>
    <section data-ng-view>
    </section>
	</main>

  <script src="bundle.js"></script>
</body>
</html>