<p>Original Image</p>
<button data-ng-click="invert()">Invert Colors</button>
<button data-ng-click="random()">Randomize Colors</button>
<button data-ng-click="colorStep()">Colorstep</button>
<button data-ng-click="colorCycle()">Colorcycle</button> <br>
<img src='{{currentImage.URL}}' id="current_image"/> <br>
<form>
    <label for="newImage"></label>
    Name yr image: <input type="text" id="newImageName" data-ng-model="newImage.imageName"> <br>
    Image summary: <input type="text" id="newImageDesc" data-ng-model="newImage.imageDesc"> <br>
    Save transphormed image: <input type="submit" data-ng-click="create(newImage)"></input>
</form>